<form  [formGroup]="registerUserForm"
       (ngSubmit)="registerUser()">
      
<label>User name:</label>
<input fromControlName="username" type="text">

<label>Password:</label>
<input fromControlName="password" type="password">


<fieldset formGroupName="fullname">
  <label>First name:</label>
  <input fromControlName="firstname" type="text">

  <label>Last name:</label>
  <input fromControlName="lastname" type="text"> 
</fieldset>

<fieldset formArrayName="emailAddresses">
  <label>Email addresses: </label>
  <input type="text"> 
  <input type="text"> 
  <input type="text"> 
</fieldset>

<button type="submit">Register</button>
       
</form>
