
<div class="ui text container">
    <h3>
        Impressum 
    </h3>
<p>Anbieter und verantwortlich für den Inhalt:<br>
  <br>
  {{company}}<br>
  {{street}}<br>
  {{town}}<br>
  &nbsp;<br>
  Geschäftsführer: {{director}}<br>
  USt.-Id.Nr.   {{tax-id}}<br>
  Amtsgericht {{court}}<<br>
  &nbsp;<br>
  Tel: {{ phone }}<br>
  &nbsp;<br>
  Web: {{webaddress}}<br>
  E-Mail: {{email}}<br>
  <br>
 
  <br>
  Soweit Hyperlinks auf Fremdangebote verweisen, macht sich der Anbieter deren Angebote und Ansichten ausdrücklich nicht zu eigen. Für straf- oder zivilrechtlich relevante Inhalte der verlinkten Seiten sind allein die jeweiligen Anbieter verantwortlich.<br>
  &nbsp;<br>
  Artwork, Design by {{artworkBy}}<br>
  Umsetzung by {{implementationBy}}}}<br>
  {{copyright}}<br>
  &nbsp;<br>
  Jeder Teil dieser Seite ist urheberrechtlich geschützt. Die Verwendung redaktioneller Inhalte, von Grafik, Bildern, Ton u.ä. auf Fremdseiten bzw. analoge Verwertungen bedürfen ausdrücklich der Vereinbarung im Einzelfall. Die straf- und zivilrechtliche Verfolgung von Verstößen bleibt vorbehalten.<br>
  &nbsp;<br>
  Wir weisen zudem ausdrücklich darauf hin, dass auf unseren Websites enthaltenen Inhalte dem Urheberrecht Dritter unterliegen können. Alle auf dieser Website enthaltenen Warenzeichen, Logos und Marken sind Eigentum von g-punkt29.de oder Eigentum Dritter. Es ist untersagt, diese ohne vorherige Genehmigung von G.29 oder möglicher Dritter Rechteinhaber zu verwenden, dauerhaft herunter zu laden, zu kopieren, zu verarbeiten und oder zu verbreiten.<br>
  &nbsp;<br>
  Wir weisen darauf hin, dass Waren und Artikel generell ohne Dekorationen verkauft und geliefert werden.<br>
  &nbsp;<br>
  &nbsp;<br>
  Informationen zur online-Streitbeilegung<br>
  Die EU-Kommission stellt im Internet unter folgendem Link eine Plattform zur Online-Streitbeilegung bereit: 
  <a href="http://ec.europa.eu/consumers/odr">http://ec.europa.eu/consumers/odr</a><br>
  &nbsp;<br>
  Diese Plattform dient als Anlaufstelle zur außergerichtlichen Beilegung von Streitigkeiten aus Online-Kauf- oder Dienstleistungsverträgen, an denen ein Verbraucher beteiligt ist.</p>

</div>