<p>
  admin-page works!
</p>
<div class="ui three item tabs menu">
  <a routerLink="home"  routerLinkActive="active" class="item">Home</a>
  <a routerLink="product-page" routerLinkActive="active" class="item">Product Liste</a>
  <a routerLink="adminProductBook" routerLinkActive="active" class="item">Admin ProductBook</a>
</div>
<div class="ui three item menu">
  <a router class="item">Login</a>
  <a routerLink="registerForm" routerLinkActive="active" class="item">Register</a>
  <a routerLink="adminProductBook" routerLinkActive="active" class="item">Admin ProductBook</a>
</div>

<router-outlet></router-outlet>
