

<div class="ui three item tabs menu">
  <a class="item">Product: Books</a>
  <a routerLink="/product" routerLinkActive="active" class="item">Product Liste</a>
  <a routerLink="/product/:key" routerLinkActive="active" class="item">Product Details</a>
</div>
 
  
<div class="ui middle aligned selection divided list">
  <a *ngFor="let product of products" class="item">
    Bild
    <img class="ui tiny image"
         *ngIf="product.thumbnails"
         [src]="product.thumbnails[0].url">
    <div class="content">
      <div class="header">{{ product.title }}</div>
      <div class="description">{{ product.subtitle }}</div>
      <div class="metadata">
        <span *ngFor="let author of product.authors; last as isLast">
           {{ author }}<span *ngIf="!isLast">, </span>
        </span>
      </div>
      <div class="extra">{{ product.key }}</div>
    </div>
  </a>
</div>
