
<div class="ui text container">
    <h3 class="first">Unser Service für Sie: </h3>
    <p>Massfertigung von <b>Hemden</b>, <b>Blusen</b> und <b>Anzügen</b>.
    </p>
    <p>Unser Philosophie:
     <ul>
       <li><b>Hochwertige Stoffe</b>, deren Qualität sich fühlen lässt.
            Das ist die Basis unserer Produkte.
            Wählen Sie aus unser Stoffdesigns und haben Sie Ihre Freude am Tragegefühl unserer Massfertigungen.

       </li>
       <li>
          <b>Ihre Masse</b> bilden die Basis für den perfekten Sitz
          unserer Produkte.
       </li>
       <li>
          <b>Ihre Konfigurationswünsche</b> machen unseren Produkten
             einzigartig: 
          <ul>
            <li><b>Schnitt, Kragen, Manschetten</b>
                passend für Ihren Anlass.
            </li>
            <li><b>Individualitat</b> durch Kombination von Stoffdesigns
                und Monogramm.
            </li>
            <li><b>Perfektion Ihres Auftrittes</b> mit unseren Accessoires.
            </li> 
          </ul>
       </li>
     </ul> 
</div>
